@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height for horizontal scrollbar */
  }
  
  /* Track (the background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Handle (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #e6e6e6; /* Darker gray handle */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fffefe; /* Even darker gray on hover */
  }